 body {
  background-color: #F2D7D5;
  background-size: 100% 100%;
  background-attachment: fixed;
}

img{
display:block;
margin: auto;

}

h1 {
   text-align: center;
   font-family: 'Neucha', cursive;
   font-size: 4rem;
 }
